<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wormhole</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <style>body { margin: 0; }</style>

  <script type="importmap">
    {
      "imports": {
        "three": "/static/three/build/three.module.js",
        "three/addons/": "/static/three/examples/jsm/"
      }
    }
    </script>
</head>

<body>
  <h1>Wormhole Sample Code</h1>
  <script type="module" id="wormhole" src="./wormhole.js"></script>
</body>
</html>